<nav class="navbar  navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/"><i class="fa fa-gear"></i> Animations</a>
      </div>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item"><a routerLink="/anganimations" class="nav-link">Ang-Animation</a></li>
            <li class="nav-item"><a routerLink="/listanimations" class="nav-link">List-Animation</a></li>
        </ul>
    </div>
</nav> 