<div class="container bg-dark p-4">
  <div class="row">
    <div class="col-xs-8">
      <blockquote>
        <h2 class="page-header py-5 text-warning text-muted">Angular Animations.........  <i class="fa fa-delicious fa-2x"></i></h2>
        <h4 class="lead text-muted">
          <p class="lead my-3">New Wave Of Angular Animations</p>
          <p class="lead my-3">Import__BrowserAnimationsModule</p>
          <p class="lead my-3">
            trigger <br/>
            state<br/>
            style <br/>
            transition<br/>
            animate</p>
        </h4>
        <br/>
        <button class="btn btn-warning" (click)="navToAnim()">Let's Start 
          <i class="fa fa-angle-double-right "></i>
        </button>
      </blockquote>
    </div>
  </div>
</div>