<div class="container bg-warning pt-5">
  <div class="row">
    <div class="col-xs-8">
      <blockquote>
        <h2 class="page-header py-5 text-warning text-muted">Angular Animations.........  <i class="fa fa-delicious fa-2x"></i></h2>
        <h4 class="lead text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi aspernatur, at atque pariatur esse dignissimos voluptatum aut ipsum optio eaque?</h4>
        <br/>
        <button class="btn btn-outline-secondary" (click)="navToAnim()">Animations 
          <i class="fa fa-arrow-right"></i>
        </button>
      </blockquote>
    </div>
  </div>
</div>