<div class="container" [ngStyle]="{backgroundColor:'#4f4747'}">
    <div class="row">
      <div class=" col-xs-6 col-xs-8 col-sm-8 col-lg-10">
        <h1 [ngStyle]="{color:'lightpink'}">Animate...Angular</h1>
        <br/>
        <button class="btn btn-primary" (click)="onAnimate()">Animate</button>
        <button class="btn btn-primary" (click)="onShrink()">Shrink</button>
        <br/>
        <hr/>
        <div [@divState]="state" [ngStyle]="{
                                              width:'100px',
                                              height:'100px',
                                              color:'lightpink'
                                            }">
        </div>
        <br/>
        <div [@wildState]="wildState" [ngStyle]="{ width:'100px', 
                                                height:'100px',
                                                color:'lightpink'
                                              }">
       </div>
      </div>
    </div>

        <app-listitems ></app-listitems>
</div>