<div class="container" [ngStyle]="{backgroundColor:'#d8dbd2'}">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-lg-10">
        <h2 [ngStyle]="{color:'grey'}">Animate...Angular</h2>
        <br/>
        <button class="btn btn-info">Animate</button>
        <button class="btn btn-info">Shrink</button>
        <hr/>
        <div [@divState]="state" 
                                [ngStyle]="{
                                              width:'80px',
                                              height:'80px',
                                              color:'lightpink'
                                            }">
        </div>
      </div>
    </div>
</div>